/*
!/.config
!/.i3
!/.vim
/.vim/bundle
!/.dmrc
!/.gitconfig
!/.gitignore
!/.Xresources
!/color.sh
!/.zsh*
/.zsh_history
!/.oh-my-zsh

!/.mozilla
/.mozilla/*

!/.mozilla/firefox
/.mozilla/firefox/*

!/.mozilla/firefox/chrome
!/.mozilla/firefox/chrome/*
