[alias]
    ch = checkout
    co = commit
    st = status
    br = branch
    hist = log --pretty=format:\"[%ad] %s%d\" --date=format:'%d.%m.%Y %H:%M:%S'
    type = cat-file -t
    dump = cat-file -p
